{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>В своей профессиональной деятельности,применяем новейшие технологии человечества.
        Такие как:  шпатель примотанный скотчем к палке,новыеший способ по решению проблем под названием"и так сойдет",
        свежайшая техннология покраски "шуба",элегантые монтерские решения как "да и **у с ним маляры выровняют".</p>
        <button class="btn btn-warning">На страницу про нас</button>

    </div>
{% endblock %}